{% extends "base.html" %}
{% load static %}

{% block content %}
    <section class="browse-header">
        <div class="content-container">
            <h1>Browse Mysteries & Cheats</h1>
            <p>Explore GTA V mystries and cheat codes</p>
        </div>
    </section>

    <section class="content-container">
         <div class="browse-buttons-container">
            <button class="cta-button" id="mysteries-btn">Mysteries</button>
            <button class="cta-button"id="cheat-btn">Cheat codes</button>
         </div>
         <section id="mysteries">
            <img src="{% static 'images/mysteries/default-mystery.png' %}">
         </section>
         <section id="cheats">
            <div>Cheats coming soon</div>
         </section>
    </section>
{% endblock %}