{% extends "base.html" %}
{% load static %}

{% block content %}
    <section class="create-container">
            <div class="form-container">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    
                    <div class="form-group">
                        <label for="{{form.title.id_for_label}}">Theory Title *</label>
                        {{form.title}}
                    </div>
                    
                    <div class="form-group">
                        <label for= "{{form.description.id_for_label}}">Description *</label>
                        {{form.description}}
                    </div>

                    <div class="form-group">
                        <label for="{{form.location.id_for_label}}">Location in Game *</label>
                        {{form.location}}
                    </div>
                    <p class="file-hint">Fields marked with * are required</p>
                    <div class="form-group">
                        <label for="{{form.image.id_for_label}}">Supporting Image</label>
                        {{form.image}}
                        <p class="file-hint">Max file size: 5MB. Supported formats: JPG, PNG etc</p>
                    </div>

                    <div class="form-group">
                        <label for="{{form.tags.id_for_label}}">Tags</label>
                        {{form.tags}}
                        <p class="tag-hint">Separate tags with commas</p>
                    </div>

                    <div class="form-actions">
                        <button type="submit" class="submit-btn">Submit Theory</button>
                        <button type="reset" class="reset-btn">Clear Form</button>
                    </div>
                </form>
            </div>
    </section>
{% endblock %}
