{% extends "base.html" %} {% load static %} {% block content %}
<section class="profile-container">
  <h2 class="profile-h2">Your profile</h2>
  <section class="profile-card">
    <img
      src="{% static 'images/logo.png' %}"
      alt="Profile Picture"
      class="profile-picture"
    />
    {% if request.user.is_authenticated %}
    <p class="username">Username: {{ user.username }}</p>
    <p>Email: {{ user.email }}</p>
    <p class="date">Member since: {{ user.date_joined|date:"F j, Y" }}</p>
    {% else %}
    <p class="username">Welcome, Guest!</p>
    {% endif %}
  </section>
  <h2 class="profile-h2">Your Mysteries</h2>

  <div class="user-mystery-section">
    {% if mysteries %}
      {% for mystery in mysteries %}
        <div class="user-mystery-card" data-id="{{mystery.id}}">
          {% if mystery.is_approved %}
            <div class="badge-content">
              <div class="status-badge approved">approved</div>
              <div>Your mystery is visible to the community</div>
            </div>
          {% else %}
            <div class="badge-content">
              <div class="status-badge pending">pending approval</div>
              <div>Your mystery is not yet visible to the community</div>
            </div>
          {% endif %}
          <h2>{{ mystery.title }}</h2>
          <div class="mystery-details">
            <img src="{{ mystery.image.url }}" alt="Mystery Image" class="user-img" />
          </div>
          <div class="user-mystery-btns">
            {% if mystery.is_approved %}
              <div class="view-mystery cta-button" data-id="{{mystery.id}}">View Mystery</div>
            {% endif %}
            <div class="edit-mystery cta-button">
              <a href="{% url 'edit_mystery' mystery.id %}">Edit</a>
            </div>
            <div class="delete-mystery reset-btn">Delete</div>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <div class="empty-mystery">
        <p>You haven't submitted any mysteries.</p>
        <a href="{% url 'create' %}" class="cta-button submit-first">Submit Your first mystery</a>
      </div>
    {% endif %}
  </div>
  
</section>

{% endblock %}
