{% extends "base.html" %} {% load static %} 
{% block header %} {% endblock %}
{% block content %}
<section class="login-container">
  <div class="login-box">
    <div class="login-header">
    <div class="nav-logo">
        <img src="{% static 'images/logo.png'%}" class="logo" />
        <div class="logo-text">
          <span>GTA V</span>
          <span>MYSTERIES</span>
        </div>
    </div>
    <p>Explore Hidden Mysteries and Codes</p>
    <h2 class="login-h2">CREATE ACCOUNT</h2>
    </div>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="cta-button">REGISTER</button>
      <a class="cta-button" id ="guest-btn" href="/home">Continue as guest</a>
      <p>Already have an account? &nbsp;<a href="{% url 'login' %}">Login</a></p>
    </form>

  </div>
</section>
  {% endblock %}
  {% block top_footer %} {% endblock %}


