/* Global Styles */
:root {
    --primary-color: #71e871;
    --secondary-color: #2b6470e3;
    --dark-bg: #121212;
    --card-bg: rgba(0, 0, 0, 0.368);
    --text-color: #ffffff;
    --neon-glow: 0 0 5px var(--primary-color),
                 0 0 10px var(--primary-color);
    --neon-text-glow: 0 0 3px var(--primary-color);
    --subtle-glow: 0 0 5px rgba(0, 255, 0, 0.3);
    --glass-bg: rgba(30, 30, 30, 0.7);
    --grid-line: rgba(0, 255, 0, 0.1);
    --glinear-background: linear-gradient(45deg, 
    rgba(0, 255, 0, 0.1), 
    rgba(0, 255, 0, 0.3));
}
html{
    scroll-behavior: smooth;
}
*{
    box-sizing: border-box;
}
body {
    background-color : var(--dark-bg);
    background-image: 
        linear-gradient(to right, rgba(100, 100, 100, 0.08) 1px, transparent 1px);
    background-size: 40px 100%;
    color: var(--text-color);
    font-family: 'Arial', sans-serif;
    margin: 0;
    line-height: 1.6;
    font-size: 18px;
    
}

/* Navigation Styles */
.main-nav {
    background: var(--dark-bg);
    border-bottom: 2px solid var(--primary-color);
    padding: 1.5rem 1.3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 15px rgba(0, 255, 0, 0.1);

}

/* Logo Styles */
.nav-logo {
    margin-right: 1.5rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.logo {
    border: 2px solid var(--subtle-glow);
    width: 90px;
    height: 90px;
    object-fit: cover;
    border-radius: 15px;
    animation: logoGlow 3s infinite;
    transition: transform 0.3s ease;
}

.logo-text {
    color: var(--primary-color);
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    animation: textGlow 3s infinite;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.logo-text span {
    display: block;
}

.logo-text span:first-child {
    font-size: 1.5rem;
    margin-bottom: 0.2rem;
}

.logo-text span:last-child {
    font-size: 1.8rem;
    font-weight: 800;
    letter-spacing: 3px;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 3rem;
    margin: 0;
    padding: 0;
    align-items: right;
}

.nav-links a {
    color: var(--text-color);
    text-decoration: none;
    font-size: 1.1rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    position: relative;
}

.nav-links a::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0;
    height: 2px;
    background: var(--primary-color);
    transition: width 0.3s ease;
    box-shadow: var(--neon-glow);
}

.nav-links a:hover::after {
    width: 100%;
}

.nav-links a:hover {
    color: var(--primary-color);
    text-shadow: var(--neon-text-glow);
    background: rgba(113, 232, 113, 0.1);
}

.nav-links a.active {
    color: var(--primary-color);
    text-shadow: var(--neon-text-glow);
    background: rgba(113, 232, 113, 0.1);
}

.nav-links a.active::after {
    width: 100%;
    box-shadow: var(--neon-glow);
}
/* Footer */
.site-footer {
    background-color: rgba(0, 0, 0, 0.9);
    padding: 4rem 0;
    margin-top: 4rem;
    width: 100%;
}

.footer-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
}

.footer-bottom {
    text-align: center;
    margin-top: 2rem;
    padding-top: 2rem;
    border-top: 2px solid var(--primary-color);
    box-shadow: 0 2px 15px rgba(0, 255, 0, 0.1);

}

/* Homepage styles */
.hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
                      url('/static/images/gtaV.png');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 72vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2rem;
}

.home-content-container{
    max-width: 1200px;
    margin: auto;
    padding: 10px;
}
.home-mystery-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 1rem;

}
.home-card {
    width: 100%;
    background: var(--card-bg);
    border: 1px solid rgba(0, 255, 0, 0.2);
    box-shadow: var(--subtle-glow);
    border-radius: 10px;
    padding: 1.5rem;
}
/* Quick Access Section Styles */
.quick-access {
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.7)),
    url('/static/images/los-santos.png');
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    padding: 4rem 0;
    border-radius: 10px;
    text-align: center;
    margin-top: 2rem;
    box-shadow: var(--subtle-glow);
}
.quick-access h2 {
    text-align: center;
    margin-bottom: 3rem;
    color: var(--primary-color);
    text-transform: uppercase;
    letter-spacing: 2px;
}
.quick-access-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.quick-access-list li, #cheats-list li{
    position: relative;
    padding-left: 25px;
    margin-bottom: 1rem;
}

.quick-access-list li::before, #cheats-list li:before {
    content: '⚡';
    position: absolute;
    left: 0;
    color: var(--primary-color);
    animation: glowIcon 2s infinite;
    font-size: 1.2rem;
    top: 50%;
    transform: translateY(-50%);
}

/* Browse Page Styles */
.browse-container {
    margin: auto;
    max-width: 1200px;
    padding: 0 1rem;
}
#mysteries-container{
    margin: 1.5rem 0;
}
#cheats-container{
    display: none;
}
#cheats-container h3{
    margin-bottom: 5px;
}
#platform-choice{
    background: var(--glinear-background);
    color: var(--text-color);
    text-align: center;
    font-size: 1.2rem;
    border-radius: 10px;
    height: 2.5rem;
    width : 30%;  
}
#platform-choice option{
    background: rgb(5, 81, 5);
}
#cheats-list{
    font-size: 1.4rem;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    max-width: 720px;
    background-color: var(--card-bg);
    box-shadow: var(--subtle-glow);
    margin: 10px auto;
    padding: 20px 11px;
    border-radius: 20px;
    list-style: none;
}
#cheat-codes{
    padding: 1rem 0;
}
.mysteries-cheats-selected{
    background-color: var(--secondary-color)!important;
    transform: scale(1.05)!important;
}
.com-mysteries-header{
    margin: 3rem auto;
}
.com-mysteries-header h2{
    margin-bottom: 0;
    padding: 0;

}
.mystery-section {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}
.mystery-card {
    width: 100%;
    background: var(--card-bg);
    border: 1px solid rgba(0, 255, 0, 0.2);
    box-shadow: var(--subtle-glow);
    border-radius: 10px;
    padding: 1.5rem;
}
.mystery-card .mystery-details{
    display: flex;
    gap: 2rem;
}
.mystery-card img{
    height: 40%;
    max-height: 300px;;
    box-shadow: var(--subtle-glow);
    border-radius: 10px;
}
.mystery-card .location{
    font-style: italic;
    color: var(--primary-color);
}
.mystery-card h2{
    color: var(--primary-color);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
/* Crete page Form */
.create-container{
    padding: 2rem 1rem;
}
.form-container {
    max-width: 800px;
    margin: auto;
    padding: 2rem;
    background-color: var(--card-bg);
    border-radius: 10px;
    box-shadow: var(--subtle-glow);
}

.form-group {
    margin-bottom: 1.5rem;
}

.form-group label {
    display: block;
    margin-bottom: 0.5rem;
    color: var(--primary-color);
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 0.8rem;
    background: rgba(0, 0, 0, 0.7);
    border: 1px solid var(--primary-color);
    border-radius: 4px;
    color: var(--text-color);
    box-shadow: inset 0 0 10px rgba(0, 255, 0, 0.1);
    transition: all 0.3s ease;
}

.form-group input:focus,
.form-group textarea:focus,
.search-bar input:focus {
    outline: none;
    box-shadow: var(--subtle-glow);
    border-color: var(--secondary-color);
}

.file-hint,
.tag-hint {
    font-size: 1rem;
}

/* Buttons */

.cta-button,
.submit-btn
{ 
    background: var(--glinear-background);
    border: 1px solid var(--primary-color);
    box-shadow: 0 0 5px rgba(0, 255, 0, 0.2);
    backdrop-filter: blur(5px);
    text-transform: uppercase;
    letter-spacing: 2px;
    position: relative;
    overflow: hidden;
    color: var(--dark-bg);
    padding: 0.8rem 1.2rem;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
    text-decoration: none;
    display: inline-block;
    color: var(--text-color);
    margin: 3px;
}
.user-mystery-btns div{
    margin-top: 1.5rem;
    height: min-content;
    font-size: 0.8rem;
    padding: 0.5rem;
}
.submit-first{
    height: min-content;
    padding: 0.5rem;
    width: max-content;
}
.user-mystery-btns div a, .submit-first a{
    color: white!important;
}
.reset-btn{
    background: linear-gradient(45deg, rgb(142, 36, 36), rgba(4, 65, 4, 0.744));
    border: 1px solid red;
    box-shadow: 0 0 5px rgb(115, 15, 15);
    backdrop-filter: blur(5px);
    text-transform: uppercase;
    letter-spacing: 2px;
    position: relative;
    overflow: hidden;
    color: var(--dark-bg);
    padding: 0.8rem 1.2rem;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
    text-decoration: none;
    display: inline-block;
    color: var(--text-color);
    margin: 3px;
}
.cta-button::before,
.submit-btn::before,
.submit-btn::before
{
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        90deg,
        transparent,
        rgba(0, 255, 0, 0.2),
        transparent
    );
    transition: 0.5s;
}

.cta-button:hover::before,
.submit-btn:hover::before,
.reset-btn:hover::before
 {
    left: 100%;
}

.cta-button:hover,
.submit-btn:hover,
.reset-btn:hover
 {
    background-color: var(--secondary-color);
    transform: scale(1.05);
}
.more-text-btn{
    width: fit-content;
    padding: 0.3rem;
}

/* Profile Page Styles */
.profile-container{
    max-width: 1200px;
    margin: auto;
    padding: 30px 10px
}
.profile-card {
    background-color: var(--card-bg);
    border-radius: 20px;
    padding: 2rem;
    text-align: center;
    box-shadow: var(--subtle-glow);
    max-width: 600px;
    margin: auto;
}

.profile-picture {
    width: 150px;
    height: 150px;
    object-position: center;
    object-fit: cover;
    border-radius: 0 50px;
    border: 1px solid var(--primary-color);
    box-shadow: var(--subtle-glow);

}
.profile-card p {
    margin: 0.5rem 0;
    font-size: 1.1rem;
    color: var(--text-color);
}

.profile-card p:first-of-type {
    color: var(--primary-color);
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.profile-card p:last-child {
    color: rgba(255, 255, 255, 0.7);
    font-size: 1rem;
    margin-top: 1rem;
    font-style: italic;
}
.user-mystery-section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 1.2rem;
}
.user-mystery-section .mystery-card img{
    min-width: 330px;
}
.user-mystery-section .mystery-card{
    width: fit-content;
}

.badge-content{
    display: flex;
    gap: 0.5rem;
    align-items: center;
    margin-bottom: 1rem;
}
.badge-content div:last-child{
    font-style: italic;
    color: rgba(255, 255, 255, 0.7);
}
.status-badge {
    white-space: nowrap;
    padding: 0.4rem 0.8rem;
    border-radius: 20px;
    font-size: 0.9rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 0.75rem;
    
}

.status-badge.approved {
    background-color: darkgreen;
    box-shadow: var(--subtle-glow);
}

.status-badge.pending {
    background-color: rgb(156, 25, 25);
    box-shadow:  rgb(156, 25, 25);
}

.user-mystery-btns{
    display: flex;
}
.empty-mystery{
    margin: auto;
    width: 100vhw;
    display: flex;
    flex-direction: column;

}
/* About Page Styles */
.about-container{
    max-width: 1200px;
    margin: auto;
    padding: 10px;
}
    
.mission-section {
    border-radius: 20px;
    padding: 4rem 2rem;
    background: var(--card-bg);
    box-shadow: var(--subtle-glow);

}

.mission-highlights {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
    margin-top: 3rem;
}

.highlight-card {
    background-color: rgba(0, 0, 0, 0.624);
    padding: 2rem;
    border-radius: 8px;
    border: 1px solid var(--primary-color);
    text-align: center;
}
/* Team Section Styles */
.team-section {
    padding: 4rem 0;
}

.team-section h2 {
    text-align: center;
    margin-bottom: 3rem;
}

.developers-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 2rem;
    padding: 1rem;
}

.developer-card {
    background: var(--card-bg);
    border-radius: 8px;
    overflow: hidden;
    box-shadow: var(--subtle-glow);
    min-height: 600px;
    
    
}

.developer-image {
    width: 100%;
    height: 350px;
    overflow: hidden;
}

.developer-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.developer-info {
    padding: 1.5rem;
    text-align: center;
}

.developer-info h3 {
    margin-bottom: 0.5rem;
}

.developer-info .role {
    color: var(--primary-color);
    font-size: 1.2rem;
}
/* Link Styles - Non-Navigation */
a:not(.nav-links a):not(.cta-button) {
    color: var(--primary-color);
    text-decoration: none;
    position: relative;
    transition: all 0.3s ease;
    
}

a:not(.nav-links a):not(.cta-button):hover {
    color: #fff;
    text-shadow: var(--neon-text-glow);
}

a:not(.nav-links a):not(.cta-button)::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 1px;
    background: var(--primary-color);
    transition: width 0.3s ease;
    box-shadow: var(--subtle-glow);
}

a:not(.nav-links a):not(.cta-button):hover::after {
    width: 100%;
}

/* Animations */
@keyframes glow {
    0% { text-shadow: var(--neon-text-glow); }
    50% { text-shadow: var(--neon-glow); }
    100% { text-shadow: var(--neon-text-glow); }
}

@keyframes scanline {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(100%);
    }
}

/* keyframe animations */
@keyframes logoGlow {
    0% {
        box-shadow: 0 0 5px var(--primary-color);
        border-color: var(--primary-color);
    }
    50% {
        box-shadow: 0 0 20px var(--primary-color),
                    0 0 40px var(--primary-color);
        border-color: var(--text-color);
    }
    100% {
        box-shadow: 0 0 5px var(--primary-color);
        border-color: var(--primary-color);
    }
}

@keyframes textGlow {
    0%, 100% {
        text-shadow: 0 0 5px var(--primary-color);
    }
    50% {
        text-shadow: 0 0 10px var(--primary-color),
                     0 0 20px var(--primary-color),
                     0 0 30px var(--primary-color);
        color: #fff;
    }
}

@keyframes glowIcon {
    0%, 100% {
        text-shadow: 0 0 5px var(--primary-color);
    }
    50% {
        text-shadow: 0 0 10px var(--primary-color),
                     0 0 20px var(--primary-color);
    }
}
/* Responsive Design */
@media (max-width: 968px) {
    .logo-text{
        
    }
    .nav-links {
        flex-direction: column;
        gap: 1rem;
    }

    .hero-content h1 {
        font-size: 2rem;
    }

    .mystery-grid {
        grid-template-columns: 1fr;
    }

    .hero {
        background-attachment: scroll; /* Better mobile performance */
        min-height: 60vh;
    }
    .quick-access {
        margin: 2rem;
    }
    
    .quick-access-grid {
        grid-template-columns: 1fr;
    }
    .developer-image {
        height: 500px;
        object-position: top;
    }
    .mystery-card .mystery-details{
        flex-direction: column;
    }
    .mystery-card img{
        max-width: 500px;
        width: 90%;
    }

}